@import "./fonts.css";

/* Variables have been injected via `unocss-preset-shadcn` (https://github.com/hyoban/unocss-preset-shadcn) */
body {
  background: oklch(var(--accent));
}

/* `workspace` element should fill the space not occupied by the header */
header {
  height: 48px;
}

.workspace {
  height: calc(100% - 48px);
}

/* For icons used in documents */
svg.iconify {
  display: inline-block;
}

/* Utility for hiding scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
}

/* Editor styles */
#editor-page {
  height: 100vh;
  height: 100dvh;
}

#document-preview {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Print mode */
@media print {
  @page {
    margin: 0;
  }

  #editor-page {
    height: auto;
  }

  .workspace,
  [data-panel-group-id="splitter-editor"] {
    display: block !important;
    padding: 0 !important;
  }

  header,
  .toaster.group,
  #zoom-bar,
  #code-pane,
  #code-preview-handle,
  #tools-pane,
  #nuxt-devtools-container,
  [data-radix-popper-content-wrapper] {
    display: none !important;
  }

  .pane-container {
    border: none;
    border-radius: 0;
  }

  .vue-zoom {
    transform: scale(1) !important;
    margin: 0 !important;
  }

  #document-preview {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    gap: 0;
  }

  #document-preview [data-scope="vue-smart-pages"][data-part="page"] {
    break-before: page;
    height: 100vh !important;
  }
}
